{% extends 'base.html.twig' %}

{% block title %}TodoList Application!{% endblock %}

{% block body %}
    <!-- .container is main centered wrapper -->
    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <a class="button button-primary u-pull-right" href="#">New TodoList</a>
                <h1>TodoLists</h1>
            </div>
        </div>
    </div>
{% endblock %}