{% extends 'base.html.twig' %}

{% block title %}TodoList Application!{% endblock %}

{% block body %}
    <div class="container" id="app" data-url-lists="{{ path('list_all') }}">
        <div class="row">
            <div class="twelve columns">
                <a @click="showModal = true" class="button button-primary u-pull-right" href="#">New TodoList</a>
                <h1>TodoLists</h1>

                <modal v-if="showModal" @close="showModal = false" form-url="{{ path('list_create') }}">
                    <h5 slot="header">Create a TodoList</h5>
                </modal>
            </div>
        </div>

        <div class="row">
            <ul class="todolists twelve columns">
                <todo-list v-for="list in todoLists"
                           v-bind:key="list.id"
                           v-bind:list="list"
                />
            </ul>
        </div>
    </div>
{% endblock %}